<nav class="navbar navbar-expand-lg navbar-light" style="background-color: red;">
    <a class="navbar-brand" href="/product/view"><img src="/static/<%=profile.img%>" width="30px"><%=profile.name%></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><%=profile.phone%> <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item active">
          <a class="nav-link" href="/bill/make">Sale <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item active">
          <a class="nav-link" href="/order/shopshow">Shops <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item active">
            <a class="nav-link" href="/bill/trans">Transactions <span class="sr-only">(current)</span></a>
          </li> -->
          <!-- <li class="nav-item active">
            <a class="nav-link" href="/order/trans/0">Track order <span class="sr-only">(current)</span></a>
          </li> -->
          <li class="nav-item active">
              <a class="nav-link" href="/coustomer/orders">Orders <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/coustomer/logout">Logout <span class="sr-only">(current)</span></a>
              </li>
      </ul>
  
    </div>
  </nav> 