<html>

<head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var arr = [], total = 0
        function add(name, id, price) {
            document.getElementById('pos').innerHTML = ""
            p = -1
            for (i = 0; i < arr.length; i++) {
                if (arr[i].name == name)
                    p = i;
            }
            if (p > -1) {
                arr[p].quantity++;
            }
            else {
                arr.push({ name, quantity: 1, product: id, price })
            }
            total = 0
            arr.map(p => {
                total += p.quantity * p.price
            })
            arr.map(p => {
                document.getElementById('pos').innerHTML += `${p.name.toString()}---${p.quantity}----${p.price}<br>`
            })
            document.getElementById('total').innerHTML = `Total = ${total}`
        }
        function purchase() {
            data = {
                products: arr,
                price: total
            }
            axios.post('/bill/trans', data).then((data) => {
                console.log(data)
            })
        }
    </script>
</head>

<body>
    <%data.map(d=>{%>
    <%=d.name%><button onclick="add(`<%=d.name%>`,`<%=d._id%>`,`<%=d.price%>`)">buy </button> <br>
    <% })%>
    <div id="pos"></div>
    <div id="total">Total = 0</div>
    <button onclick="purchase()">Purchase</button>
</body>

</html>