<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <%if(data===0){ %>
    <form action="/coustomer/register" method="POST">
        <%}else if(data===1){%>
            <form action="/shop/register" method="POST">

            <%}%>
        <input name="name">
        <input name="phone" value="<%=number%>">
        <textarea name="address" cols="5" rows="5"></textarea>
        <button type="submit">Submit</button>
    </form>
</body>
</html>