<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700');

        body {
            background: #FFEFBA;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #FFFFFF, #FFEFBA);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #FFFFFF, rgb(250, 250, 250));
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

            font-family: 'Josefin Sans', sans-serif;
        }

        h3 {
            font-family: 'Josefin Sans', sans-serif;
        }

        .box {
            padding: 5px 0px;
        }

        .box-part {

            background: #FFEFBA;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #FFFFFF, #FFEFBA);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, #FFFFFF, #FFFFFF);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            border-radius: 10px;
            padding: 30px 10px;
            margin: 30px 0px;
        }

        .box-part:hover {
            background: #F00000;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to left, #DC281E, #F00000);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to left, rgb(248, 75, 66), #F00000);
        }

        .box-part:hover .fa,
        .box-part:hover .title,
        .box-part:hover .text,
        .box-part:hover a {
            color: #FFF;
            -webkit-transition: all 1s ease-out;
            -moz-transition: all 1s ease-out;
            -o-transition: all 1s ease-out;
            transition: all 1s ease-out;
        }

        .text {
            margin: 20px 0px;
        }

        .fa {
            color: rgb(215, 65, 65);
        }
    </style>





    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>
    <% include  partials/coustomerNav%>




    <!--
    instagram: www.instagram.com/programmingtutorial
    site: programlamadersleri.net
-->
    <center>
        <h3>Choose Shops
        </h3>
    </center>

    <div id="carouselExampleControls" interval=100 class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/deliverybike.png" height="250px" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/static/vegi.jpeg" class="d-block w-100" height="250px" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/static/pul.jpeg" class="d-block w-100" height="250px" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="row">

        <%data.map(d=>{%>

        <div class=" col col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <a href="/order/make/<%=d._id%>">

                <img width="80px" src="/static/<%=d.img%>" />
            </a>
            <div class="title">
                <h3><%=d.name%></h3>
            </div>
        </div>
        <% })%>
    </div>



    <div class="row">
        <div class="col col-sm-4">
            <img src="/static/s1.jpeg" width="50px" height="60px">
        </div>
        <div class="col col-sm-4">
            <img src="/static/s2.jpeg" height="60px" width="50px">
        </div>
        <div class="col col-sm-4">
            <img src="/static/s3.jpeg" height="60px" width="50px">
        </div>
        <div class="col product col-sm-4">
            <img src="/static/coca.jpeg" height="60px" width="50px">
        </div>
        <div class="col product col-sm-4 my-auto">
            <img src="/static/s4.jpeg" height="60px" width="50px">
        </div>
        <div class="col product col-sm-4">
            <img src="/static/fanta.png" height="60px" width="50px">
        </div>
        <div class="col product col-sm-4">
            <img src="/static/s5.jpeg" height="60px" width="50px">
        </div>
        <div class="col product col-sm-4">
            <img src="/static/amul.jpeg" height="60px" width="50px">
        </div>
        <div class="col product col-sm-4">
            <img src="/static/her.jpeg" height="60px" width="50px">
        </div>



    </div>



</body>

</html>